# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/ios/DerivedData/
/ios/Pods/
/ios/Podfile.lock
/macos/DerivedData/
/macos/Pods/
/macos/Podfile.lock
/devtools_options.yaml

/private_keys/
upload-appstore.sh
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/reply/cache-v2-bc5ccbb810afd81afd51.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-9d86dbf94357c4a6d7ba.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-e4fa5f1ea9f06c52dc23.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/.cmake/api/v1/reply/index-2025-05-12T07-59-13-0936.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/build.ninja
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/2jq5k3c6/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/reply/cache-v2-070248095f4a34d2bb58.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-40a066e75da10cce3b2a.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-90ccb04430e69719bae7.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-12T07-59-19-0852.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/2jq5k3c6/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/reply/cache-v2-7867375570133de23ef0.json
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/reply/cmakeFiles-v1-ba1cbdcd5498193f72f0.json
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/reply/codemodel-v2-d08889504418ef7193d9.json
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/2jq5k3c6/x86/.cmake/api/v1/reply/index-2025-05-12T07-59-22-0649.json
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/additional_project_files.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/android_gradle_build.json
/android/app/.cxx/Debug/2jq5k3c6/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/2jq5k3c6/x86/build.ninja
/android/app/.cxx/Debug/2jq5k3c6/x86/build_file_index.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/cmake_install.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86/CMakeCache.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/2jq5k3c6/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/2jq5k3c6/x86/prefab_config.json
/android/app/.cxx/Debug/2jq5k3c6/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/reply/cache-v2-23b80befba1b29ee9275.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-d866be49879d3d4ff851.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/reply/codemodel-v2-6e92a1ba3914c4b7cda9.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/.cmake/api/v1/reply/index-2025-05-12T07-59-24-0470.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/build.ninja
/android/app/.cxx/Debug/2jq5k3c6/x86_64/build_file_index.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/2jq5k3c6/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/2jq5k3c6/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/2jq5k3c6/x86_64/prefab_config.json
/android/app/.cxx/Debug/2jq5k3c6/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/2jq5k3c6/hash_key.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/reply/cache-v2-03b5a4b08558d73a3c96.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-7b01606c4a3d0f6bf968.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-474c0e8e305a1cfcbe73.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/.cmake/api/v1/reply/index-2025-05-12T08-06-43-0975.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/build.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/reply/cache-v2-b125abcef84ef2e11815.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-e866fab942824c57de89.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-48d3a53f574ae2bebcd2.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-12T08-06-45-0339.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/build.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/reply/cache-v2-508d9392fd31e4d10dda.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/reply/cmakeFiles-v1-eb2782c9026e9b8eb5e2.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/reply/codemodel-v2-8fb0cbca12a22ffd09cb.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/.cmake/api/v1/reply/index-2025-05-12T08-06-46-0703.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/build.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/prefab_config.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/reply/cache-v2-cde8e05d251d68b6c4c3.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-6feff20e839d7bf0391d.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/reply/codemodel-v2-3cf9a0d1ec2a2330b882.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/.cmake/api/v1/reply/index-2025-05-12T08-06-48-0024.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/build.ninja
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/prefab_config.json
/android/app/.cxx/RelWithDebInfo/1l4x4853/x86_64/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/1l4x4853/hash_key.txt
